.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.hero-heading {
  margin-right: 200px;
}
.hero-img {
  border: 2px white solid;
}
.hero-img img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.text-animate {
  width: 400px;
  text-align: center;
}
.about-text {
  margin-top: 20px;
  font-size: 1.8rem;
  text-align: justify;
  margin-bottom: 30px;
}
.resume-btn {
  background-color: #b2bec3;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.5rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 40%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0 auto;
}
.resume-btn:focus {
  outline: 0;
}
.resume-btn:after {
  content: '';
  position: absolute;
  border: 1px solid #ffffff;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}
.resume-btn:hover:after {
  bottom: 2px;
  left: 2px;
}

@media only screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column;
  }
  .hero-heading {
    margin: 300px 0px 40px 0px;
  }
  .about-text {
    /* font-size: 1.5rem; */
  }
}
@media (min-width: 768px) {
  .resume-btn {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}
